<div class="row justify-content-between">
    <div class="green col-2">
      Word list
    </div>

    <div class="red col-8">
     Tweets
    </div>

    <div class="pink col-2">
     sport menu
    </div>
  </div>
</div>
