<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<div class= "flex row justify-content-between align-items-center mx-auto">
  <div class="woso_container">
  <div class="woso_words green col-2">
      <ul>
        <li>USWNT</li>
        <li>SheBelieves</li>
        <li>NWSL</li>
        <li>WoSo</li>
        <li>Jill Ellis</li>
        <li>Phil Nevil</li>
      </ul>
    </div>
  </div>

  <div class="red col-8">
    Tweets
  </div>

  <div class="pink col-2">
    <a data-turbolinks="false" href="/"><%= image_tag "logos/bcd_black_blue_lg_rectangle2.jpg", :id => "bcd_blue" %></a>
    <ul>
      <li>Soccer</li>
      <li>Basketball</li>
      <li>Rugby</li>
      <li>Hockey</li>
      <li>Tennis</li>
    </ul>
  </div>
</div>
</div>
