<div class="container-fluid d-md-inline-flex align-items d-flex justify-content-center ">
    <div class="woso_words green col-2
    ">
    <ul>
      <li>USWNT</li>
      <li>SheBelievesCup</li>
      <li>NWSL</li>
      <li>WoSo</li>
      <li>Jill Ellis</li>
    </ul>





    </div>

    <div class="red col-8">
     Tweets
    </div>

    <div class="pink col-2">
      <%= image_tag "logos/bcd_black_blue_lg_rectangle2.jpg"%>
     <ul>
      <li>Soccer</li>
      <li>Basketball</li>
      <li>Rugby</li>
      <li>Hockey</li>
      <li>Tennis</li>
    </ul>
    </div>
  </div>
</div>
