<body class="leaderboard-body">
  <div class="container-fluid">

      <div class="row justify-content-center leaderboard-title-container">
        <div class="col-xs-12 d-flex align-items-center">
          <h1 class="leaderboard-title text-center"><%=@sport.name%> Leaderboard</h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="top-three-users d-flex justify-content-between">
            <div class="image-container">
              <img src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/icons/profile_avatar_placeholder.png" class="profile-image" alt="profile image">
              <p class="position">2nd</p>
            </div>
            <div class="image-container">
              <img src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/icons/profile_avatar_placeholder.png" class="profile-image featured" alt="profile image">
              <p class="position">1st</p>
            </div>
            <div class="image-container">
              <img src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/icons/profile_avatar_placeholder.png" class="profile-image" alt="profile image">
              <p class="position">3rd</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-xs-12">


          <% get_unique_users(@predictions).each do |user| %>

            <div class="row leaderboard-card justify-content-between">

                <div class="rank d-flex align-self-center justify-content-center">
                  <p class="text-center">1</p>
                </div>

                <div class="leaderboard-card-info d-flex align-self-center">
                  <img src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/icons/profile_avatar_placeholder.png" class="profile-image" alt="profile image">
                </div>

                <div class="leaderboard-card-info d-flex justify-content-center align-self-center">
                  <p class="text-center username"><%= user.username %></p>
                </div>

                <div class="leaderboard-card-info d-flex justify-content-center align-self-center">
                  <p class="text-center percent"><%= user.calculate_points %>pts</p>
                </div>

              </div> <!--End leaderboard cards-->
          <% end %>
        </div> <!--End outer col for leaderboard cards-->

      </div> <!--End outer row for leaderboard cards-->

    </div> <!--End container-->
</body>
