<body class="leaderboard-body">
<div class="container-fluid">

    <div class="row justify-content-center leaderboard-title-container">
      <div class="col-xs-12 align-items-center">
        <h1 class="leaderboard-title text-center"><%=@sport.name%> Leaderboard</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12">
        <div class="top-three-users d-flex justify-content-between">
          <div class="image-container">
            <%=image_tag "profile-image.jpg", class:"profile-image", alt:"placeholder profile image"%>
            <p class="rank">2nd</p>
          </div>
          <div class="image-container">
            <%=image_tag "profile-image.jpg", class:"profile-image featured", alt:"placeholder profile image"%>
            <p class="rank">1st</p>
          </div>
          <div class="image-container">
            <%=image_tag "profile-image.jpg", class:"profile-image", alt:"placeholder profile image"%>
            <p class="rank">3rd</p>
          </div>
        </div>
      </div>
    </div>





</div>
</body>
