
<div class="woso_wall_container container-fluid d-md-inline-flex align-items d-flex justify-content-center ">
    <div id="word_list" class="woso_words green col-3 d-flex justify-content-end">
    <ul>
      <li><%= link_to 'WoSo', wall_index_path %></li>
      <li>USWNT</li>
      <li>NWSL</li>
    </ul>
    </div>

    <div class="red col-8 align-self-end ">
    <%= render partial: "show" %>
    </div>

    <div class="pink col-2">
      <a data-turbolinks="false" href="/"><%= image_tag "logos/bcd_black_blue_lg_rectangle2.jpg", :id => "bcd_blue" %></a>
     <ul>
      <li>Soccer</li>
      <li>Basketball</li>
      <li>Rugby</li>
      <li>Hockey</li>
      <li>Tennis</li>
    </ul>
    </div>
  </div>
</div>
