<div class="twitter-app">
  <div class="keyword-list">
    <div class="home-container">
      <%= link_to "RETURN HOME", root_path, class: "return-home" %>
      <!-- <a class="return-home">RETURN HOME</a> -->
    </div>
    <div class="keyword">WoSo</div>
    <div class="keyword">USWNT</div>
    <div class="keyword">NWSL</div>
  </div>
  <div class="tweet-feed">
    <% @tweets.each do |t|%>
      <div class="keyword-tweet">
        <div class="wrapper">
          <div class="timestamp"><%= "#{t[:created_at]}" %></div>
          <div class="tweet-text"><%= "#{t[:text]}" %></div>
          <div class="by-line"><%= "#{t[:screen_name]}" in "#{t[:location]}" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
