<!-- <h1>Shop#index</h1>
<p>Find me in app/views/shop/index.html.erb</p> -->

<% content_for :title, "Backcourt Dribble: Shop" %>


<%= render "shared/site_nav" %>

<div class="items-index">
  <div class="shop-item"> Store Item 1</div>
  <div class="shop-item"> Store Item 2</div>
  <div class="shop-item"> Store Item 3</div>
  <div class="shop-item"> Store Item 4</div>
  <div class="shop-item"> Store Item 5</div>
  <div class="shop-item"> Store Item 6</div>
  <div class="shop-item"> Store Item 7</div>
  <div class="shop-item"> Store Item 8</div>
  <div class="shop-item"> Store Item 9</div>
  <div class="shop-item"> Store Item 10</div>
  <div class="shop-item"> Store Item 11</div>
  <div class="shop-item"> Store Item 12</div>
  <div class="shop-item"> Store Item 13</div>
  <div class="shop-item"> Store Item 14</div>
  <div class="shop-item"> Store Item 15</div>
  <div class="shop-item"> Store Item 16</div>
  <div class="shop-item"> Store Item 17</div>
  <div class="shop-item"> Store Item 18</div>
  <div class="shop-item"> Store Item 19</div>
  <div class="shop-item"> Store Item 20</div>
</div>
