<div class="alert alert-info" role="alert">
  <p class="alert-text">
  Would you like to be a part of Backcourt Dribble?

We need help updating rosters and twitter handles for this league
email denise@backcourtdribble.com with what this information.

You’ll get a shoutout on the website and on twitter.

Also, when they store opens you’ll be the first notified on
products and get a special discout code.

Names of teams and twitter handels of the players on the rosters as well as retired players and other official
accounts are all welcome.
</p>
</div>
