<!DOCTYPE html>
<html>
<head>
  <!-- renders google ads to the site -->

  <!-- adds google analytics to the site -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Backcourt Dribble</title>
</head>
<body>
  <!-- Begin Content -->
  <div class="container-fluid">
        <%= render 'shared/nav' %>

    <!-- Start Row 2 -->
    <div class="row">

      <!-- League menu panel -->
      <div class="col-md-3 league_menu menu">
        <!-- <p> Check out the WoSo's Wall! </p> -->

        <%= render 'shared/fifa_menu' %>


        <!-- Ads within league menu panel-->
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>

      </div> <!-- league menu panel -->

      <!-- Large twitter list panel -->
      <div class="col-md-5 large_twitter_list">


        <%= render "shared/alert_fifa" %>

        <!-- Sr. National Border Template -->
        <div class="template-panel-container d-flex justify-content-center template_large_list">
          <p class="placeholder_text">Senior National Team</p>
        </div>
      </div> <!-- End large twitter list panel -->

      <!-- Start small Border Template-->
      <div class="col-md-3 small_twitter_lists">
        <!-- Retired Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">Retired National Players</p>
        </div>
        <!-- Recent Call-ups Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">Recent Callups</p>
        </div>
        <!-- U23 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U23</p>
        </div>
        <!-- U20 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U20</p>
        </div>
        <!-- U19 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U19</p>
        </div>
      </div> <!-- End small twitter list panel -->

    </div> <!-- End Row 2 -->
  </div> <!-- End container-fluid  -->
  <!-- End Content -->
</body>
</html>
