<!DOCTYPE html>
<html>
<head>
  <!-- Adds google ads to the site -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backcourt Dribble</title>
</head>
<body>
  <!-- Begin Content -->
  <div class="container-fluid">

        <%= render 'shared/nav' %>

    <!-- Start Row 2 -->
    <div class="row">
      <!-- League menu panel -->
      <div class="col-md-3 league_menu menu">
        <!-- <p> Check out the WoSo's Wall! </p> -->
        <ul data-turbolinks="false">
          <li><a id="fifa" class="league-link" href="#">FIFA (National Teams)</a></li>
          <li><a class="league-link" href="/pages/soccer/nwsl.html.erb">National Women's Soccer League (USA)</a></li>
          <li><a class="league-link" href="/pages/soccer/frauen-bundesliga.html.erb">Allianz Frauen-Bundesliga (Germany)</a></li>
          <li><a class="league-link" href="/pages/soccer/fa_super_league.html.erb">FA Women's Super League (England)</a></li>
          <li><a class="league-link" href="/pages/soccer/champions_league.html.erb">Champion's League</a></li>
          <li><a class="league-link" href="/pages/soccer/nwl.html.erb">National Women’s League (New Zealand)</a></li>
          <li><a class="league-link" href="/pages/soccer/w_league.html.erb">Westfield W-League (Australia)</a></li>
          <li><a class="league-link" href="/pages/soccer/liga_mx.html.erb">Liga MX Femenil (Mexico)</a></li>
          <li><a class="league-link" href="/pages/soccer/primera_division.html.erb">Primera División Femenina (Spain)</a></li>
          <li><a class="league-link" href="/pages/soccer/series_a.html.erb">Serie A Women (Italy) </a></li>
          <li><a class="league-link" href="/pages/soccer/fa_championship.html.erb">FA Women's Championship (England)</a></li>
          <li><a class="league-link" href="/pages/soccer/damallsvenskan.html.erb">Damallsvenskan (Sweden)</a></li>
          <li><a class="league-link" href="/pages/soccer/div1feminine.html.erb">Division 1 Féminine (France)</a></li>
        </ul>

        <!--FIFA Leagues-->
        <%= render 'shared/fifa_menu' %>


        <!-- Ads within league menu panel-->
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>
      </div> <!-- league menu panel -->



      <div class="nwsl-list-container col-md-8">
        <%= render "shared/alert_league"%>
        <div class="row">

          <!-- nwsl twitter list panel 1 -->
          <div class="col nwsl_twitter_list">
            <!-- Chicago Redstars -->
            <div class="template-panel-container d-flex justify-content-center template_small_list">
              <!-- <a class="twitter-timeline" data-link-color="#61B7E0" data-border-color="#C4353A" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"   href="https://twitter.com/backcourtdribbl/lists/chicago-redstars?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <p class="placeholder_text">Team 1</p>
            </div>
          </div> <!-- End nwsl twitter list panel 1 -->

          <!-- nwsl twitter list panel 2 -->
          <div class="col nwsl_twitter_list">
            <!-- Houston Dash -->
            <div class="template-panel-container d-flex justify-content-center template_small_list">
              <!-- <a class="twitter-timeline" data-link-color="#E86C32" data-border-color="#E7813D" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/houston-dash?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <p class="placeholder_text">Team 2</p>
            </div>
          </div> <!-- End nwsl twitter list panel 2 -->

          <!-- nwsl twitter list panel 3 -->
          <div class="col nwsl_twitter_list">
            <!-- North Carolina Courage -->
            <div class="template-panel-container d-flex justify-content-center template_small_list">
              <!-- <a class="twitter-timeline" data-link-color="#9F2035" data-border-color="#B3A272" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/north-carolina-courage?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <p class="placeholder_text">Team 3</p>
            </div>
          </div> <!-- End nwsl twitter list panel 3 -->

        </div> <!--End Row 2a-->

        <div class="row">
          <!-- nwsl twitter list panel 4 -->
          <div class="col nwsl_twitter_list">
            <!-- Orlando Pride -->
            <div class="template-panel-container d-flex justify-content-center template_small_list">
              <!-- <a class="twitter-timeline" data-link-color="#47A0DD" data-border-color="#FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/orlando-pride?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <p class="placeholder_text">Team 4</p>
            </div> <!-- End nwsl twitter list panel 4 -->
          </div>
            <!-- nwsl twitter list panel 5 -->
            <div class="col nwsl_twitter_list">
              <!-- Portland Thorns -->
              <div class="template-panel-container d-flex justify-content-center template_small_list">
                <!-- <a class="twitter-timeline" data-link-color="#8E2F30" data-border-color="#8E2F30" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/portland-thorns?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <p class="placeholder_text">Team 5</p>
              </div>
            </div> <!-- End nwsl twitter list panel 5 -->

            <!-- nwsl twitter list panel 6 -->
            <div class="col nwsl_twitter_list">
              <!-- Seattle Reign -->
              <div class="template-panel-container d-flex justify-content-center template_small_list">
                <!-- <a class="twitter-timeline" data-link-color="#ECFA86" data-border-color="##FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/seattle-reign?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <p class="placeholder_text">Team 6</p>
              </div>
            </div> <!-- End nwsl twitter list panel 6 -->

        </div> <!--End Row 2b-->

          <div class="row">
            <!-- nwsl twitter list panel 7 -->
            <div class="col nwsl_twitter_list">
              <!-- Sky Blue FC -->
              <div class="template-panel-container d-flex justify-content-center template_small_list">
                <!-- <a class="twitter-timeline" data-link-color="#DF974D" data-border-color="#FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/sky-blue-fc?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <p class="placeholder_text">Team 7</p>
              </div>
            </div> <!-- End nwsl twitter list panel 7 -->

            <!-- nwsl twitter list panel 8 -->
            <div class="col nwsl_twitter_list">
              <!-- Utah Royals -->
              <div class="template-panel-container d-flex justify-content-center template_small_list">
                <!-- <a class="twitter-timeline" data-link-color="#972C37" data-border-color="#F5B947" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/utah-royals?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <p class="placeholder_text">Team 8</p>
              </div> <!-- End nwsl twitter list panel 8 -->
            </div>

              <!-- nwsl twitter list panel 9 -->
              <div class="col nwsl_twitter_list">
                <!-- Washington Spirit -->
                <div class="template-panel-container d-flex justify-content-center template_small_list">
                  <!-- <a class="twitter-timeline" data-link-color="#B32435" data-border-color="#F6F6F6" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/washington-spirit?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                  <p class="placeholder_text">Team 9</p>
                </div>
              </div> <!-- End nwsl twitter list panel 9 -->

            </div> <!--End Row 2c-->

            <div class="row">
              <!-- nwsl twitter list panel 10 -->
              <div class="col nwsl_twitter_list">
                <!-- NWSL Retired Players -->
                <div class="template-panel-container d-flex justify-content-center template_small_list">
                  <!-- <a class="twitter-timeline" data-link-color="#C33431" data-border-color="#FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/nwsl-retired-players?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                  <p class="placeholder_text">Team 10</p>
                </div>
              </div> <!-- End nwsl twitter list panel 10 -->

              <!-- nwsl twitter list panel 11 -->
              <div class="col nwsl_twitter_list">
                <!-- NWSL Official Accounts -->
                <div class="template-panel-container d-flex justify-content-center template_small_list">
                  <!-- <a class="twitter-timeline" data-link-color="#C33431" data-border-color="#FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/nwsl?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                  <p class="placeholder_text">Team 11</p>
                </div>
              </div> <!-- End nwsl twitter list panel 12 -->

              <div class="col nwsl_twitter_list">
                <!-- NWSL Writers -->
                <div class="template-panel-container d-flex justify-content-center template_small_list">
                  <!-- <a class="twitter-timeline" data-link-color="#C33431" data-border-color="#FFFFFF" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/nwsl-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                </div> -->
                  <p class="placeholder_text">Team 12</p>
              </div>

            </div> <!--End Row 2d-->
          </div> <!-- End Nwsl list container-->
        </div> <!-- End Row 2 -->
      </div> <!-- End container-fluid  -->
      <!-- End Content -->
    </body>
    </html>
