<!--FIFA Leagues-->
<ul data-turbolinks="false">
  <a class="back-link" href="/">Back to All Leagues</a>
  <li><a href="/pages/soccer/fifa/usa.html.erb">USA</a></li>
  <li><a href="/pages/soccer/fifa/germany.html.erb">Germany</a></li>
  <li><a href="/pages/soccer/fifa/england.html.erb">England</a></li>
  <li><a href="#">Australia</a></li>
  <li><a href="#">Canada</a></li>
  <li><a href="/pages/soccer/fifa/france.html.erb">France</a></li>
  <li><a href="#">Netherlands</a></li>
  <li><a href="#">Brazil</a></li>
  <li><a href="#">Japan</a></li>
  <li><a href="#">Sweden</a></li>
  <li><a href="#">North Korea</a></li>
  <li><a href="#">Denmark</a></li>
  <li><a href="#">Spain</a></li>
  <li><a href="#">Norway</a></li>
  <li><a href="#">South Korea</a></li>
  <li><a href="#">China</a></li>
  <li><a href="#">Italy</a></li>
  <li><a href="#">New Zealand</a></li>
  <li><a href="#">Switzerland</a></li>
  <li><a href="#">Iceland</a></li>
  <li><a href="#">Austria</a></li>
  <li><a href="#">Scotland</a></li>
  <li><a href="#">Belgium</a></li>
  <li><a href="#">Colombia</a></li>
  <li><a href="#">Russia</a></li>
  <li><a href="#">Mexico</a></li>
  <li><a href="#">Ukraine</a></li>
  <li><a href="#">Finland</a></li>
  <li><a href="#">Republic of Ireland</a></li>
  <!-- <li><a class="league-link" href="#">Poland</a></li> -->
</ul>
