<!--FIFA Leagues-->
<ul data-turbolinks="false">
  <a class="back-link" href="/">Back to All Leagues</a>
  <li><a href="/pages/soccer/fifa/usa.html.erb">USA</a></li>
  <li><a href="/pages/soccer/fifa/germany.html.erb">Germany</a></li>
  <li><a href="/pages/soccer/fifa/england.html.erb">England</a></li>
  <li><a href="/pages/soccer/fifa/australia.html.erb">Australia</a></li>
  <li><a href="/pages/soccer/fifa/canada.html.erb">Canada</a></li>
  <li><a href="/pages/soccer/fifa/france.html.erb">France</a></li>
  <li><a href="/pages/soccer/fifa/netherlands.html.erb">Netherlands</a></li>
  <li><a href="/pages/soccer/fifa/brazil.html.erb">Brazil</a></li>
  <li><a href="/pages/soccer/fifa/japan.html.erb">Japan</a></li>
  <li><a href="/pages/soccer/fifa/sweden.html.erb">Sweden</a></li>
  <li><a href="/pages/soccer/fifa/korea_dpr.html.erb">North Korea</a></li>
  <li><a href="/pages/soccer/fifa/denmark.html.erb">Denmark</a></li>
  <li><a href="/pages/soccer/fifa/spain.html.erb">Spain</a></li>
  <li><a href="/pages/soccer/fifa/norway.html.erb">Norway</a></li>
  <li><a href="/pages/soccer/fifa/south_korea.html.erb">South Korea</a></li>
  <li><a href="/pages/soccer/fifa/china.html.erb">China</a></li>
  <li><a href="/pages/soccer/fifa/italy.html.erb">Italy</a></li>
  <li><a href="/pages/soccer/fifa/new_zealand.html.erb">New Zealand</a></li>
  <li><a href="/pages/soccer/fifa/switzerland.html.erb">Switzerland</a></li>
  <li><a href="/pages/soccer/fifa/iceland.html.erb">Iceland</a></li>
  <li><a href="/pages/soccer/fifa/austria.html.erb">Austria</a></li>
  <li><a href="/pages/soccer/fifa/scotland.html.erb">Scotland</a></li>
  <li><a href="/pages/soccer/fifa/belgium.html.erb">Belgium</a></li>
  <li><a href="/pages/soccer/fifa/columbia.html.erb">Colombia</a></li>
  <li><a href="/pages/soccer/fifa/russia.html.erb">Russia</a></li>
  <li><a href="/pages/soccer/fifa/mexico.html.erb">Mexico</a></li>
  <li><a href="/pages/soccer/fifa/ukraine.html.erb">Ukraine</a></li>
  <li><a href="/pages/soccer/fifa/finland.html.erb">Finland</a></li>
  <li><a href="/pages/soccer/fifa/ireland.html.erb">Republic of Ireland</a></li>
  <li><a href="/pages/soccer/fifa/poland.html.erb">Poland</a></li>
</ul>
