<!-- FIFA Leagues-->
<ul data-turbolinks="false" class="fifa_team_link">
  <a class="back-link fifa-league-link" href="/pages/soccer/woso_writers.html.erb">Back to All Leagues</a>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/usa.html.erb">1  USA</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/germany.html.erb">2  Germany</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/france.html.erb">3  France</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/england.html.erb">4  England</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/canada.html.erb">5  Canada</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/japan.html.erb">6  Japan</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/brazil.html.erb">7  Brazil</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/australia.html.erb">8  Australia</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/netherlands.html.erb">9  Netherlands</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/korea_dpr.html.erb">10  North Korea</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/sweden.html.erb">11   Sweden</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/spain.html.erb">12  Spain</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/denmark.html.erb">13  Denmark</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/norway.html.erb">14  Norway</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/south_korea.html.erb">15  South Korea</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/italy.html.erb">16  Italy</a></li>

    <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/china.html.erb">17  China</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/switzerland.html.erb">18  Switzerland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/iceland.html.erb">19  Iceland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/new_zealand.html.erb">20  New Zealand</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/scotland.html.erb">21  Scotland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/austria.html.erb">22  Austria</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/belgium.html.erb">23  Belgium</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/ukraine.html.erb">24  Ukraine</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/mexico.html.erb">25  Mexico</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/columbia.html.erb">26  Colombia</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/russia.html.erb">27  Russia</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/thailand.html.erb">28 Thailand</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/wales.html.erb">29  Wales</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/finland.html.erb">30  Finland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/ireland.html.erb">31  Republic of Ireland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/czech_republic.html.erb">32  Czech Republic</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/costa_rico.html.erb">33  Costa Rica</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/portugal.html.erb">34  Portugal</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/argentina.html.erb">35  Argentina</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/poland.html.erb">36  Poland</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/vietnam.html.erb">37  Vietnam</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/nigeria.html.erb">38  Nigeria</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/chile.html.erb">39  Chile</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/romania.html.erb">40  Romania</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/uzbekistan.html.erb">41  Uzbekistan</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/chinese_taipei.html.erb">42  Chinese Taipei</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/serbia.html.erb">43  Serbia</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/myanmar.html.erb">43  Myanmar</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/hungary.html.erb">45  Hungary</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/ghana.html.erb">46  Ghana</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/slovakia.html.erb">47  Slovakia</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/cameroon.html.erb">48  Cameroon</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/paraguay.html.erb">49  Paraguay</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/trinidad_tobago.html.erb">50  Trinidad and Tobago</a></li>



  <hr class="fifa_team_link fifa-league-link">

  <li> Other Fifa teams: </li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/jordan.html.erb">Jordan</a></li>

  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/afghanistan.html.erb">Afghanistan</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/ghana.html.erb">Ghana</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/turkey.html.erb">Turkey</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/bulgaria.html.erb">Bulgaria</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/south_africa.html.erb">South Africa</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/iran.html.erb">Iran</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/bolivia.html.erb">Bolivia</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/israel.html.erb">Israel</a></li>
  <li><a class="fifa_team_link fifa-league-link" href="/pages/soccer/fifa/india.html.erb">India</a></li>
</ul>
