<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HOME PAGE</h1>
    <%= link_to 'Dribble!', dribble_index_path %>
    <%= link_to 'WoSo Wall', wall_index_path %>
    <%= link_to 'Team Tweets', '/pages/soccer/woso_writers.html.erb' %>
    <%= link_to 'Shop', shop_index_path %>
  </body>
</html>
