<%= render 'shared/site_nav'%>
<!-- Change images to semantic figure and info to figcaption -->

<div class="container about">

  <!-- Our Mission -->
  <section class="row justify-content-center mission-section">
    <h1 class="text-center section-title"> Our Mission </h1>
    <div class="col-xs-12">
      <div class="mission-text">
        <p>We followed a vision. Make a women’s sports app that is app interactive and fun. At its best, we hope that Backcourt Dribble offers a web site that can increase fan involvement and help to broaden the base of those who follow women’s sports. </p>
        <p>What do we value in this project? We value that fan participation and engagement, not a one-way informational experience. We value that women's sports are world-wide and we are committed to a global perspective. </p>
        <p>We support athletes. We can’t control how much female pro athletes are compensated by their federations and club teams. What we attempt to do provide is a marketplace of goods and experiences that current and retired athletes can participate in.  We think athletes are amazing people and have much to share to the world. </p>
      </div>
    </div>
  </section>

  <!-- Our Team -->
  <section class="row justify-content-center">
    <div class="col-xs-12">
      <h1 class="text-center section-title"> Our Team </h1>
    </div>

    <div class="row justify-content-around team-section">
      <!-- Denise -->
      <div class="col-xs-12 col-lg-6">
        <div class="team-member">
          <img class="team-member-image img-thumbnail" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/team-photos/denise.jpg" alt="Denise Duffy Headshot"/>
          <div class="team-member-info">
            <h2 class="title">Denise Duffy</h2>
            <p class="role">Founder</p>
            <p class="text">Her passion for athletes, cutting edge technology, and the potential reach of this project is endless. She learned to code to build BCD. </p>
          </div>
        </div>
      </div>

      <!-- Ethan -->
      <div class="col-xs-12 col-lg-6">
        <div class="team-member">
          <img class="team-member-image img-thumbnail" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/team-photos/Ethan.jpg" alt="Ethan Fertsch Headshot"/>
          <div class="team-member-info">
            <h2 class="title">Ethan Fertsch</h2>
            <p class="role">Full Stack Developer</p>
            <p class="text">Web developer, UX enthusiast, cider maker, lab guru. Lover of dogs, brunch, neon lights, spooky things, and Hawaiian shirts.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Friends -->
  <section class="row justify-content-center">

    <div class="col-xs-12">
      <h1 class="text-center section-title"> We Support </h1>
    </div>

    <div class="row support-section">

      <div class="col-xs-12 col-sm-4">

        <div class="card support-card" style="width: 15rem;">
          <img class="card-img-top mx-auto" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/WWFShowCircle_Final_small.png" alt="Card image cap" style="width: 150px; height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Women's World Football Show</h5>
            <p class="card-text">Professional, fun, and most of all, inclusive of the entire global WoSo community. Patty and Adam have a podcast that’s top notch. Check out the Women’s World Football Show.</p>
            <a href="https://www.wwfshow.com/" class="btn btn-primary">WWF Show</a>
          </div>
        </div>

      </div>


        <!-- Pre-card-code -->
        <!-- <div class="support-container">
          <div class="support-item">
            <img class="support-logo" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/WWFShowCircle_Final_small.png" alt="Women's World Football Show logo"/>
            <p class="support-description">Professional, fun, and most of all, inclusive of the entire global WoSo community. Patty and Adam have a podcast that’s top notch. Check out the Women’s World Football Show.</p>
          </div>
        </div> -->

        <div class="col-xs-12 col-sm-4">

          <div class="card support-card" style="width: 15rem;">
            <img class="card-img-top mx-auto" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/WWFShowCircle_Final_small.png" alt="Card image cap" style="width: 150px; height: 150px;">
            <div class="card-body">
              <h5 class="card-title">Women's World Football Show</h5>
              <p class="card-text">Professional, fun, and most of all, inclusive of the entire global WoSo community. Patty and Adam have a podcast that’s top notch. Check out the Women’s World Football Show.</p>
              <a href="https://www.wwfshow.com/" class="btn btn-primary">WWF Show</a>
            </div>
          </div>

        </div>
          <!-- Pre-card-code -->
          <!-- <div class="support-container">
            <div class="support-item-empty">
              <p class="support-item-empty-text">Your Group Here</p>
            </div>
          </div> -->

          <div class="col-xs-12 col-sm-4">

            <div class="card support-card" style="width: 15rem;">
              <img class="card-img-top mx-auto" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/WWFShowCircle_Final_small.png" alt="Card image cap" style="width: 150px; height: 150px;">
              <div class="card-body">
                <h5 class="card-title">Women's World Football Show</h5>
                <p class="card-text">Professional, fun, and most of all, inclusive of the entire global WoSo community. Patty and Adam have a podcast that’s top notch. Check out the Women’s World Football Show.</p>
                <a href="https://www.wwfshow.com/" class="btn btn-primary">WWF Show</a>
              </div>
            </div>

          </div>
          <!-- Pre-card-code -->
          <!-- <div class="support-container">
            <div class="support-item-empty">
              <p class="support-item-empty-text">Your Group Here</p>
            </div>
          </div> -->
    </div>
  </section>

  <!-- Inquiry Section -->
  <section class="row inquiry-section">
    <div class="col-xs-12">
      <div class="inquiry-image-container">

      </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="row justify-content-center contact-section">
    <footer>
      <h1 class="text-center section-title"> Contact Us </h1>
      <p class="contact-text">Want to help with Backcourt Dribble? We are currently seeking seed funding to help our engineering and marketing team continue. We are also seeking willing to help us update  the results of matches. </p>
      <p class="contact-text">Email Us @ <a href="mailto:bcdribble@gmail.com">backcourtdribble@gmail.com</a></p>
    </footer>
  </section>

</div>
