<div class="container">
  <!-- Our Mission -->
  <div class="row"></div>
  <!-- Our Team -->
  <div class="row"></div>
  <!-- Our Friends -->
  <div class="row"></div>
  <!-- Footer -->
  <div class="row"></div>
</div>
