<header>
  <%= render 'shared/site_nav'%>
</header>

<!-- Change images to semantic figure and info to figcaption -->
<main role="main" class="about">
  <!-- Our Mission -->
  <section class="mission-section mt-4">
    <div class="container">
      <h1 class="text-center section-title"> Our Mission </h1>
      <div class="row justify-content-center mission-section">
        <div class="col-xs-12">
          <div class="mission-text">
            <p>We followed a vision. Make a women’s sports app that is app interactive and fun. At its best, we hope that Backcourt Dribble offers a web site that can increase fan involvement and help to broaden the base of those who follow women’s sports. </p>
            <p>What do we value in this project? We value that fan participation and engagement, not a one-way informational experience. We value that women's sports are world-wide and we are committed to a global perspective. </p>
            <p>We support athletes. We can’t control how much female pro athletes are compensated by their federations and club teams. What we attempt to do provide is a marketplace of goods and experiences that current and retired athletes can participate in.  We think athletes are amazing people and have much to share to the world. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Team -->
  <section class="team-section mt-4">
    <div class="container">
      <h1 class="text-center section-title"> Our Team </h1>
      <div class="row">

        <!-- Denise -->
        <div class="col-xs-12 col-lg-6 mt-2">
          <div class="team-member">
            <img class="team-member-image img-thumbnail" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/team-photos/denise.jpg" alt="Denise Duffy Headshot"/>
            <div class="team-member-info">
              <h2 class="title">Denise Duffy</h2>
              <p class="role">Founder, Developer</p>
              <p class="text">Passion for athletes, cutting edge technology, and the potential reach of this project. </p>
            </div>
          </div>
        </div>

        <!-- Ethan -->
        <div class="col-xs-12 col-lg-6 mt-2">
          <div class="team-member">
            <img class="team-member-image img-thumbnail" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/team-photos/Ethan.jpg" alt="Ethan Fertsch Headshot"/>
            <div class="team-member-info">
              <h2 class="title">Ethan Fertsch</h2>
              <p class="role">Full Stack Developer</p>
              <p class="text">Web developer, UX enthusiast, cider maker, lab guru. Lover of dogs, brunch, and Hawaiian shirts.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section mt-4 big-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12">
            <p class="contact-text text-center">Want to help with Backcourt Dribble? We are currently seeking seed funding to help our engineering and marketing team continue. Willing to help update the results of matches? Would love your help. </p>
            <p class="contact-text text-center">Email Us <a href="mailto:bcdribble@gmail.com">backcourtdribble@gmail.com</a></p>
      </div>
    </div>
  </section>

  <!-- Support Section -->
  <section class="support-section mt-4">
    <div class="container">
      <h1 class="text-center section-title"> We Support </h1>
      <div class="row justify-content-around">

        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="card support-card" style="width: 15rem;">
            <img class="card-img-top mx-auto mt-4" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/WWFShowCircle_Final_small.png" alt="Card image cap" style="width: 150px; height: 150px;">
            <div class="card-body">
              <h5 class="card-title">Women's World Football Show</h5>
              <p class="card-text">Professional, fun, and most of all, inclusive of the entire global WoSo community. Patty and Adam have a podcast that’s top notch. Check out the Women’s World Football Show.</p>
              <a href="https://www.wwfshow.com/" class="btn btn-primary btn-sm card-button">WWFShow</a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="card support-card" style="width: 15rem;">
            <img class="card-img-top mx-auto mt-4" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/football_spotlight.png" alt="Card image cap" style="width: 150px; height: 150px;">
            <div class="card-body">
              <h5 class="card-title">Football Spotlight</h5>
              <p class="card-text">Kieran Theivam, as a journalist, is one of the best in the game. He respectivefuly asks the questions of his high profile guests that we are all wondering about. Pure dedication to women's football.</p>
              <a href="https://itunes.apple.com/us/podcast/football-spotlight/id627429155?mt=2" class="btn btn-primary btn-sm card-button">Football Spotlight</a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="card support-card" style="width: 15rem;">
            <img class="card-img-top mx-auto" src="https://s3-us-west-1.amazonaws.com/backcourtdribble/images/other-orgs-logos/burnitalldown_square.png" alt="Card image cap" style="width: 150px; height: 150px;">
            <div class="card-body">
              <h5 class="card-title">Burn It All Down</h5>
              <p class="card-text">We like them because they celebrate some of the most badass women, non-binary, and gender-nonconforming people in sports and have mind blowing discussions. They also burn shit.</p>
              <a href="http://burnitalldownpod.com/" class="btn btn-primary btn-sm card-button">Burn It All Down</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

</main>
