<h1>Wall#index</h1>
<p>Find me in app/views/wall/index.html.erb</p>

<div class="woso_wall_container container-fluid d-md-inline-flex align-items d-flex justify-content-center ">
    <div class="woso_words green col-3 d-flex justify-content-end">
    <ul>
      <li>Soccer</li>
      <li>Football</li>
      <li>USWNT</li>
      <li>She Believes Cup</li>
      <li>Tournament of Nations</li>
      <li>NWSL</li>
      <li>WoSo</li>
      <li>Jill Ellis</li>
      <li>Phil Nevil</li>
    </ul>
    </div>

    <div class="red col-8 align-self-end ">
     Tweets
    </div>

    <div class="pink col-2">
      <a data-turbolinks="false" href="/"><%= image_tag "logos/bcd_black_blue_lg_rectangle2.jpg", :id => "bcd_blue" %></a>
     <ul>
      <li>Soccer</li>
      <li>Basketball</li>
      <li>Rugby</li>
      <li>Hockey</li>
      <li>Tennis</li>
    </ul>
    </div>
  </div>
</div>
