<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Backcourt Dribble</title>
</head>
<body>
  <!-- Begin Content -->
  <div class="container-fluid">

        <%= render 'shared/nav' %>

    <!-- Start Row 2 -->
    <div class="row">
      <!-- League menu panel -->
      <div class="col-md-3 league_menu menu">
        <!-- <p> Check out the WoSo's Wall! </p> -->

        <!--FIFA Leagues-->
        <%= render "shared/fifa_menu"%>

        <!-- Ads within league menu panel-->
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>
      </div> <!-- league menu panel -->

      <!-- Large twitter list panel -->
      <div class="col-md-5 large_twitter_list">
        <!-- Sr. National -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#064AFB" data-border-color="#FA141B" data-theme="dark" height="5080" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/france-national-football?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div> <!-- End large twitter list panel -->

      <!-- Start small twitter list panel-->
      <div class="col-md-3 small_twitter_lists">
        <!-- Retired -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#FA141B" data-border-color="#064AFB" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/france-retired-players?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- Recent Call-ups -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#FA141B" data-border-color="#064AFB" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/france-recent-call-ups?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- U23 -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#FA141B" data-border-color="#064AFB" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/france-football-u-23?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- U20 -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#064AFB" data-border-color="#FA141B" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/france-football-u-20?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- U19 -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#FA141B" data-border-color="#064AFB"  data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive"  href="https://twitter.com/backcourtdribbl/lists/france-football-u-19?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div> <!-- End small twitter list panel -->

    </div> <!-- End Row 2 -->
  </div> <!-- End container-fluid  -->
  <!-- End Content -->
</body>
</html>
