<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bootstrap Sandbox</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 icon-container"></div>
      <div class="col-lg-9 banner">
        <h1> Horizontal Banner containing nav and other goodies </h1>
      </div>
    </div> <!-- first row -->
    <div class="row">
      <div class="col-lg-3 first_panel">
        <h2> A list containing: </h2>
        <ul>
          <li>Links to lists for leagues</li>
          <li>Links to lists for teams</li>
          <li>Other important accounts</li>
        </ul>
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>
      </div> <!-- first_panel -->
      <div class="col-lg-6 second_panel">
        <!-- Top WoSo Journalists -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#16A7D5
          " data-border-color="#FF6600" lang="EN" data-theme="dark" height="3039" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/top-woso-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div> <!-- second_panel -->
      <div class="col-lg-3 third_panel">
        <!--WoSo Journalists-->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#00d37f" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/woso-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- Noteable WoSo Accounts -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#17a6d4" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/notable-woso-accounts?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- Soccer Jouralists -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#FF6600" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/soccer-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

      </div> <!-- third_panel -->
    </div> <!-- second row -->
  </div> <!-- container-fluid  -->

</html>
