<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Backcourt Dribble</title>
</head>
<body>
  <!-- Begin Content -->
  <div class="container-fluid">

    <!-- Start Row 1 -->
    <div class="row">
      <!-- Container for Sports Icon -->
      <div class="col-md-3 menu icon-container d-flex justify-content-center align-items-center">
        <div> <!-- Icon image for sport -->
          <%= image_tag "small_sports/soccer_ball3.png", class: "img-fluid" %>
        </div> <!-- End Icon for sport -->
      </div> <!-- End Container for Sports Icon -->

      <!-- Page header -->
      <div class="col-md-8 banner menu">
        <div class="row">
          <!-- Logo-->
          <div class="col-md-4 orange d-flex align-items-center">
              <%= image_tag "logos/BCD_updated_color_sm2.jpg" %>
          </div>
          <!-- Links to internal site (sign up, dribble, etc.,)-->
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <!-- Sports Navigation -->
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-end">
              <nav class="navbar navbar-expand-lg navbar-trans bg-inverse">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Soccer <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Basketball</a>
                    <a class="nav-item nav-link" href="#">Rugby</a>
                    <a class="nav-item nav-link" href="#">Hockey</a>
                    <a class="nav-item nav-link" href="#">Tennis</a>
                    <a class="nav-item nav-link" href="#">Volleyball</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End Row 1 -->

    <!-- Start Row 2 -->
    <div class="row">
      <!-- League menu panel -->
      <div class="col-md-3 league_menu menu">
        <!-- <p> Check out the WoSo's Wall! </p> -->
        <ul data-turbolinks="false">
          <li><a id="fifa" class="league-link" href="#">FIFA (National Teams)</a></li>
          <li><a class="league-link" href="/pages/soccer/nwsl.html.erb">National Women's Soccer League (USA)</a></li>
          <li><a class="league-link" href="/pages/soccer/frauen-bundesliga.html.erb">Allianz Frauen-Bundesliga (Germany)</a></li>
          <li><a class="league-link" href="/pages/soccer/fa_super_league.html.erb">FA Women's Super League (England)</a></li>
          <li><a class="league-link" href="/pages/soccer/champions_league.html.erb">Champion's League</a></li>
          <li><a class="league-link" href="/pages/soccer/nwl.html.erb">National Women’s League (New Zealand)</a></li>
          <li><a class="league-link" href="/pages/soccer/w_league.html.erb">Westfield W-League (Australia)</a></li>
          <li><a class="league-link" href="/pages/soccer/liga_mx.html.erb">Liga MX Femenil (Mexico)</a></li>
          <li><a class="league-link" href="/pages/soccer/primera_division.html.erb">Primera División Femenina (Spain)</a></li>
          <li><a class="league-link" href="/pages/soccer/series_a.html.erb">Serie A Women (Italy) </a></li>
          <li><a class="league-link" href="/pages/soccer/fa_championship.html.erb">FA Women's Championship (England)</a></li>
          <li><a class="league-link" href="/pages/soccer/damallsvenskan.html.erb">Damallsvenskan (Sweden)</a></li>
          <li><a class="league-link" href="/pages/soccer/div1feminine.html.erb">Division 1 Féminine (France)</a></li>
        </ul>

        <!-- FIFA Leagues-->
        <%= render 'shared/fifa_menu' %>

        <!-- Ads within league menu panel-->
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>
      </div> <!-- league menu panel -->

      <!-- Large twitter list panel -->
      <div class="col-md-5 large_twitter_list">
        <!-- Top WoSo Journalists -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline" data-link-color="#16A7D5" data-border-color="#FF6600" lang="EN" data-theme="dark" height="3039" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/top-woso-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div> <!-- End large twitter list panel -->

      <!-- Start small twitter list panel-->
      <div class="col-md-3 small_twitter_lists">
        <!--WoSo Journalists-->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#00d37f" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/woso-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- Noteable WoSo Accounts -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#17a6d4" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/notable-woso-accounts?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- Soccer Jouralists -->
        <div class="panel-container d-flex justify-content-center">
          <a class="twitter-timeline widget-panel" data-link-color="#16A7D5" data-border-color="#FF6600" lang="EN" data-theme="dark" height="1000" data-screen-name="backcourtdribbl" data-show-replies="true" data-aria-polite="assertive" href="https://twitter.com/backcourtdribbl/lists/soccer-journalists?ref_src=twsrc%5Etfw">A Twitter List by backcourtdribbl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div> <!-- End small twitter list panel -->

    </div> <!-- End Row 2 -->
  </div> <!-- End container-fluid  -->
  <!-- End Content -->
</body>

</html>
