$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-grey: #707070;
$theme-green: #00D37F;
$theme-light: white;

.about {
  section {
    .section-title {
      color: $theme-light;
      margin-bottom: 1em;
      text-align: center;
    }
  }
  .mission-section {
    .container {
      .mission-text{
        width: 75vw;
        p {
          text-align: left;
        }
      }
    }
  }

  .team-section {
    .team-member {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-image{
        height: 200px;
        width: 200px;
      }
      &-info{
        min-width: 200px;
        margin: 1em;
        .title{
          text-align: left;
          font-size: 1rem;
        }
        .role{
          text-align: left;
          font-size: 0.875rem;
          color: $theme-orange;
        }
        .text{
          text-align: left;
          font-size: 0.875rem;
        }
      }
      @media (max-width: 476px){
        justify-content: center;
        flex-wrap: wrap;
        &-info{
          .title,
          .role,
          .text {
            text-align: center;
          }
        }
      }
    }
  }

  .support-section {
    .support-card {
      margin-top: 2em;
      margin-bottom: 6em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .card-body {
        text-align: center;
        .card-button {
          background: $theme-blue;
        }
      }
    }
  }

  .contact-section {
    padding: 2em;
  }
}
