// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-dark-grey: #343a40;
$theme-grey: #707070;
$theme-green: #00D37F;

.admin-container {
  .admin-welcome {
    color: white;
    margin-top: 40px;
  }
  .dashboard-section {
    height: 400px;
    border-bottom: 1px solid $theme-blue;
    .resource {
      display: inline-block;
      margin: 15px;
      .resource-button {
        background-color: $theme-orange;
        border: 1px solid $theme-orange;
        &:hover {
          background-color: #c68409;
          border: 1px solid #c68409;
        }
      }
    }
  }
  .resource-section {
    margin-top: 50px;
    border-bottom: 1px solid $theme-blue;
    padding-bottom: 50px;
    .edit-options {
      color: $theme-orange;
    }
    .section-heading {
      display: block;
    }
  }
}
