// Place all the styles related to the Dribble controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league-selector {
  border-radius: 100%;
  height: 100px;
  background: black;
}
