$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-dark-grey: #343a40;
$theme-grey: #707070;
$theme-green: #00D37F;

.leaderboard-body{
  background: rgba($theme-blue, .8); /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, rgba($theme-blue, .8), rgba($theme-green, .8)); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, rgba($theme-blue, .8), rgba($theme-green, .8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .leaderboard-title-container{
    height: 4em;
    background: rgba($theme-grey, 0.5);
    .leaderboard-title{
      font-size: .875rem;
      text-transform: uppercase;
      letter-spacing: .425rem;
      color: white;
    }
  }
  .top-three-users{
    padding: 2em;
    .image-container{
      margin: 1em;
      .profile-image{
        display: inline-block;
        border-radius: 50%;
        height: 75px;
        width: 75px;
        -webkit-box-shadow: 1px 1px 3px 1px #333;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 1px #333;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 1px #333;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }
      .featured{
        height: 100px;
        width: 100px;
      }
      .position{
        display: block;
        margin-top: .25em;
        color: white;
      }
    }
  }
  .true-leaderboard-card{
    width: 90vw;
    height: 5em;
    background: rgba(white, 0.3);
    margin-bottom: 1em;
    font-size: .875rem;
    .rank{
      height: 5em;
      width: 1.5em;
      background: rgba(white, 0.5);
      p{
        margin-top: 2em;
      }
    }

    .true-leaderboard-card-info{
      width: 30%;
      font-size: 0.875rem;
      .profile-image{
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
      .percent{
        color: yellow;
        margin-top: 1em;
      }
      .username{
        margin-top: 1em;
        color: white;
      }
    }
  }
}


.leaderboard-page-title{
  margin-top: 50px;
  margin-bottom: 40px;
}

// .leaderboard-title {
//   font-size: 20px;
//   color: white;
//   margin-top: 40px;
// }

.leaderboard-table {
  margin-top: 20px;
  th {
    color: $theme-orange;
  }
}

.store-item {
  width: 19vw;
  height: 19vw;
  background-color: grey;
  margin: 20px;
  .store-item-title {
    color: $theme-blue;
  }
}

div.dataTables_wrapper div.dataTables_filter {
  display: flex;
  flex-direction: row;
  justify-content: start;
}



// When smaller than 750px
@media (max-width: 750px){
  .leaderboard-title {
    font-size: 15px;
    text-align: center;
    margin: 15px;
    margin-top: 20px;
  }

  .store-item-title {
    font-size: 15px;
    text-align: center;
  }

  .leaderboard-page-title{
    font-size: 30px;
  }
  // #DataTables_Table_0_filter {
  //   background: blue;
  //   display: flex;
  //   justify-content: start;
  // }
}
