$theme-blue: #16A7D5;

.leaderboard-page-title{
  margin-top: 50px;
}

.leaderboard-title {
  font-size: 20px;
  color: white;
  margin-top: 40px;
}

.leaderboard-table {
  margin-top: 20px;
}

.store-item {
  width: 19vw;
  height: 19vw;
  background-color: grey;
  margin: 20px;
  .store-item-title {
    color: $theme-blue;
  }
}
