$theme-blue: #16A7D5;
$theme-orange: #F0900E;
$theme-green: #00D37F;

.leaderboard-body{
  background: $theme-blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $theme-blue, $theme-green); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $theme-blue, $theme-green); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.leaderboard-page-title{
  margin-top: 50px;
  margin-bottom: 40px;
}

.leaderboard-title {
  font-size: 20px;
  color: white;
  margin-top: 40px;
}

.leaderboard-table {
  margin-top: 20px;
  th {
    color: $theme-orange;
  }
}

.store-item {
  width: 19vw;
  height: 19vw;
  background-color: grey;
  margin: 20px;
  .store-item-title {
    color: $theme-blue;
  }
}

div.dataTables_wrapper div.dataTables_filter {
  display: flex;
  flex-direction: row;
  justify-content: start;
}



// When smaller than 750px
@media (max-width: 750px){
  .leaderboard-title {
    font-size: 15px;
    text-align: center;
    margin: 15px;
    margin-top: 20px;
  }

  .store-item-title {
    font-size: 15px;
    text-align: center;
  }

  .leaderboard-page-title{
    font-size: 30px;
  }
  // #DataTables_Table_0_filter {
  //   background: blue;
  //   display: flex;
  //   justify-content: start;
  // }
}
