// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-grey: #707070;
$theme-green: #00D37F;


.match-heading {
  color: white;
  font-weight: lighter;
  text-shadow: 3px 3px 10px rgba(55, 55, 55, 0.4);
}

.match-info {
  color: white;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 3px 3px 5px rgba(55, 55, 55, 0.2);
}

.venue-info-container {
  line-height: 3;
  p {
    color: $theme-blue;
    text-align: left;
  }
}

.venue-info-title {
  color: white;
  font-weight: lighter;
  margin-top: 15px;
}

.venue-address {
  font-size: 10px;
}



.ticket-link {
  color: $theme-orange;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.game-reminder-link {
  color: $theme-blue;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

// #clock {
//   display: inline;
// }
