// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-grey: #707070;
$theme-green: #00D37F;
$theme-dark-grey: #343a40;

.back-to-sports{
  margin: 15px;
  i{
    color: rgba(white, .7);
    &:hover,
    &:focus{
      color: rgba($theme-blue, .5);
    }
  }
}

.match-heading {
  color: white;
  font-weight: lighter;
  text-shadow: 3px 3px 10px rgba(55, 55, 55, 0.4);
}

.match-info {
  color: white;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 3px 3px 5px rgba(55, 55, 55, 0.2);
}

.venue-info-container {
  // line-height: 3;
  p {
    color: $theme-blue;
    text-align: left;
  }
}

.venue-info-title {
  color: white;
  font-weight: lighter;
  font-size: 2rem;
}

.venue_info_card {
  margin-top: 2em;
  border: 1px solid white;
  border-radius: 2%;
  width: 40vw;
  height: 70vh;
  .venue-detail-title{
    margin-top: 0.5em;
    color: $theme-blue;
    font-size: 1.2rem;
  }
  .venue-detail{
    color: white;
    p{
      text-align: center;
      font-size: 1rem;
    }
    .desc{
      color: $theme-orange;
      text-decoration: underline;
    }
  }

}

.venue-location-info {
  margin: 20px;
  font-size: 20px;
}

.venue-match-links {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.match-date {
  color: $theme-orange;
}

.match-channel {
  color: $theme-blue;
}


.countdown-text {
  .coutdown-title {
    color: $theme-orange;
    margin-top: 10px;
  }
  .countdown {
    color: white;
    font-size: 30px;
  }
}


.ticket-link {
  color: $theme-orange;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.game-reminder-link {
  color: $theme-blue;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.logo-link {
  height: 150px;
}

.prediction-labels {
  color: white;
}

.match-venue-timezone {display:block;}


.user-prediction-summary{
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 2%;
  padding: 20px;
  width: 50vw;
  h2{
    color: white;
  }
  .user-prediction-title{
    color: $theme-dark-grey;
    font-size: 25px;
    &:hover{
      text-decoration: underline;
      text-decoration-color: white;
    }
    @media (max-width: 480px){
        font-size: 15px;
    }
  }
  .prediction-summary-text{
    display: block;
    color: white;
  }
  .user-predictions{
    color: $theme-dark-grey;
    @media (max-width: 480px){
        font-size: 12px;
    }
  }
}

.reason-textbox {
  .reason-input {
    width: 70vw;
  }
}

.total-predictions{
  color: #000;
}

.no-predictions-message{
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 2%;
  padding: 20px;
  width: 50vw;
  h2{
    color: white;
  }
}

.leaderboard-card{
  width: 95vw;
  // height: 5em;
  background: rgba(white, 0.3);
  margin-bottom: 1em;
  font-size: .875rem;
  .profile-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .leaderboard-card-info{
    width: 30%;
    font-size: 0.875rem;
    .abbreviation{
      color: yellow;
      margin-top: 1em;
    }
    .username{
      margin-top: 1em;
      color: white;
    }
  }
  .reason-container{
    display: none;
  }
}

// .list-container {
//   height: 75vh;
// }



.reason-label{
  font-size: 0.875rem;
  color:white;
}

@media (max-width:768px){
  .match-heading {
    font-size: 35px;
  }
  .no-predictions-message{
    h2{
      font-size: 1rem;
    }
  }
  .venue-info-title{
    font-size: 1.2rem;
  }

  .countdown-text{
    .countdown{
      font-size: 1rem;
    }
  }

  .venue_info_card {
    margin-top: 1em;
    width: 80vw;
    height: 65vh;
    .venue-detail-title{
      margin-top: 0.5em;
      color: $theme-blue;
      font-size: 1rem;
    }
    .venue-detail{
      p{
        font-size: 0.875rem;
      }
    }
    .venue-match-links{
      margin-top: 0.5em;
    }
    .game-reminder-link,
    .ticket-link{
      font-size: 0.875rem;
    }

  }
}

@media (max-width:480px){
  .match-heading {
    font-size: 20px;
  }
  .match-info {
    font-size: 14px;
  }
  .prediction-prompt{
    font-size: 15px;
  }
  .fp-controlArrow{
    top: 75%;
  }
}

@media (min-width:768px){
  .leaderboard-card {
    .leaderboard-card-info{
      font-size: 1rem;
      .profile-image,
      .username,
      .abbreviation{
        margin-top: 2.5em;;
      }
    }
    .abbreviation{
      color: yellow;
    }
    .reason-container {
      text-align: left;
      display: block;
      width: 75vw;
      overflow: scroll;
      .reason {
        color: white;
        font-size: 0.875rem;
      }
    }
  }
}
