// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match-heading {
  color: white;
  font-weight: lighter;
  text-shadow: 3px 3px 10px rgba(55, 55, 55, 0.4);
}

.match-info {
  color: white;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 3px 3px 5px rgba(55, 55, 55, 0.2);
}
