// Place all the styles related to the predictions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-grey: #707070;
// .prediction-check {
//   display: inline-block;
// }

.match-teams {
  text-align: center;
}

.reason-textbox {
  display: block;
  width: 25em;
}

.prediction-submit {
  margin: 0;
  text-align: center;
  .btn {
    background-color: #707070;
    border: none;
    &:hover {
     background-color: $theme-orange;
   }
  }
}

.section {
  border-bottom: 2px solid $theme-blue;
}

.prediction-board {
  width: 100%;
  background: $theme-grey;
  margin-bottom: 10px;
}

  // .prediction-board-header {
  //   font-size: 15px;
  //   background: blue;
  //   text-align: center;
  // }


#guess {
  transform: scale(3);
  font-size: x-large;
}

#scroller {
  overflow-y:scroll;
}
