$theme-orange: #F0900E;
$theme-blue: #16A7D5;
$theme-dark-grey: #343a40;
$theme-grey: #707070;
$theme-green: #00D37F;

.sports-container {
  .dashboard-section {
    // height: 400px;
    border-bottom: 1px solid $theme-blue;
    .sports {
      display: inline-block;
      margin: 15px;
      .sports-button {
        background-color: $theme-orange;
        border: 1px solid $theme-orange;
        &:hover {
          background-color: #c68409;
          border: 1px solid #c68409;
        }
      }
    }
  }
  .sport-section {
    margin-top: 50px;
    border-bottom: 1px solid $theme-blue;
    padding-bottom: 50px;
    .league-message {
      color: $theme-blue;
      font-size: 1.2em;
      @media screen and (max-width: 850px){
        margin-top: 15px;
      }
    }
    .league-scroller{
      height: 300px;
      overflow: scroll;
    }
  }
}
